<!doctype html>
<html>
<head>
	<title>Database Interaction</title>
</head>
<body>
	<script>
	document.addEventListener('DOMContentLoaded', function(event){
		alert("Hello!");
		var req = new XMLHttpRequest();
		var payload = {name:name, reps:reps, weight:weight, date:date, lbs:lbs};
		
		req.open('GET', 'http://52.27.157.90:3000/api/', true);
		req.setRequestHeader("Content-type", "application/json");
		req.send(null);
		req.addEventListener('load', function(){
			if(req.status >=200 && req.status < 400){
				var response = JSON.parse(req.responseText);
				alert(response);
			}
		});
	};
	
	</script>
	{{{body}}}
</body>
</html>